@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.card {
  @include card-base;
  padding: $spacing-lg;

  &.bordered {
    box-shadow: $shadow-none;
    border: $border-width solid $border-color;
  }

  &.elevated {
    box-shadow: $shadow-lg;
  }
}
