@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.sidebar {
  width: 280px;
  background-color: $gray-900;
  color: $white;
  min-height: 100vh;
  padding: $spacing-lg 0;
  position: sticky;
  top: 0;
  border-right: $border-width solid $gray-800;
  overflow-y: auto;
  @include custom-scrollbar(8px, $gray-700, $gray-800);

  @include respond-to('lg') {
    position: relative;
  }
}

.logo {
  padding: $spacing-md $spacing-lg;
  font-size: $font-xl;
  font-weight: $font-bold;
  color: $white;
  border-bottom: $border-width solid $gray-800;
  margin-bottom: $spacing-md;

  a {
    color: inherit;
    @include transition(color);

    &:hover {
      color: $primary-light;
    }
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin: 0;
  padding: 0;
}

.menuLink {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  padding: $spacing-md $spacing-lg;
  color: $gray-400;
  text-decoration: none;
  @include transition(all);
  font-size: $font-sm;
  position: relative;

  &:hover {
    background-color: $gray-800;
    color: $white;
  }

  &.active {
    background-color: $primary-color;
    color: $white;
    font-weight: $font-semibold;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: $white;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
}

@include respond-to('lg') {
  .sidebar {
    position: fixed;
    height: 100vh;
  }
}
